﻿@charset "utf-8";
#header {
	background-color: #333;
	color: #fff;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 36px;
	font-weight: bold;
	height: 50px;
	margin: 0px;
	padding: 20px;
	text-align: left;
	vertical-align: middle;
}

#body {
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0px;
	padding: 10px;
}

#footer {
	background-color: #333;
	color: #fff;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	text-align: center;
	padding: 20px;
	vertical-align: middle;
}

body {
	margin: 0px;
	padding: 0px;
}